<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeBianLan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CeBianLan.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="tb1" serializeAs="String">
        <value />
      </setting>
      <setting name="tb20" serializeAs="String">
        <value />
      </setting>
      <setting name="tb21" serializeAs="String">
        <value />
      </setting>
      <setting name="tb23" serializeAs="String">
        <value />
      </setting>
      <setting name="tb22" serializeAs="String">
        <value />
      </setting>
      <setting name="tb25" serializeAs="String">
        <value />
      </setting>
      <setting name="tb24" serializeAs="String">
        <value />
      </setting>
      <setting name="tb27" serializeAs="String">
        <value />
      </setting>
      <setting name="tb26" serializeAs="String">
        <value />
      </setting>
      <setting name="tb29" serializeAs="String">
        <value />
      </setting>
      <setting name="tb28" serializeAs="String">
        <value />
      </setting>
      <setting name="tb39" serializeAs="String">
        <value />
      </setting>
      <setting name="tb38" serializeAs="String">
        <value />
      </setting>
      <setting name="tb37" serializeAs="String">
        <value />
      </setting>
      <setting name="tb36" serializeAs="String">
        <value />
      </setting>
      <setting name="tb35" serializeAs="String">
        <value />
      </setting>
      <setting name="tb34" serializeAs="String">
        <value />
      </setting>
      <setting name="tb33" serializeAs="String">
        <value />
      </setting>
      <setting name="tb32" serializeAs="String">
        <value />
      </setting>
      <setting name="tb31" serializeAs="String">
        <value />
      </setting>
      <setting name="tb30" serializeAs="String">
        <value />
      </setting>
    </CeBianLan.Properties.Settings>
  </userSettings>
</configuration>